
*{
    margin: 0;
    padding: 0;
}



.part1{
    background-color: rgb(184, 184, 254);
   
    height: 100vh;
}
.part2{
    background-color: rgb(170, 249, 170);
    height: 100vh;
}
.part3{
    background-color: pink;
    height: 100vh;
}
.part4{
    background-color: rgb(169, 108, 213);
    height: 100vh;
}


.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    height: 50px;
    background-color: aquamarine;
    position: fixed;
    width: 96vw;
    margin-bottom: 30px;
}

.navbar ul{
    display: flex;
    
    gap: 10px;
    list-style: none;
}